* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}


:root {
--unnamed-color-one: #FF6752;
--unnamed-color-two: #4487FF;
--unnamed-color-three: #F8F8F8;
--unnamed-color-four: #00225C;
--unnamed-color-five: #808080;
--unnamed-color-six: #FD6845;
--unnamed-color-seven: #B1BBCD;
--unnamed-color-eight: #FE6845;
--unnamed-color-nine: #7569DE;
--unnamed-color-ten: #FFA046;
--unnamed-color-eleven: #9ECB45;
--unnamed-color-black: #4D4F5C;
--unnamed-color-white: #ffffff;
}